# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml
.secrets.toml

# Arquivo de backup
pedidos/backup/
backup/

# Arquivos temporários
*.tmp
*.temp
repo_temp/

# Configurações locais
config.json